<div id="content_character1">
    <div id="character_level" class="level-character">
        <p id="level_character"></p>
    </div>
    <div id="character_infos">
        <div id="character_health">
            <p id="health_character" class="number_infos"></p>
            <div id="bar_health" class="bar">
                <div class="content_bar"></div>
            </div>
        </div>
        <div id="character_exp">
            <p id="exp_character" class="number_infos"></p>
            <div id="bar_exp" class="bar">
                <div class="content_bar"></div>
            </div>
        </div>
        <div id="content_menu_character">
            <div id="character_menu" class="ready-fight">
                <div id="weapon" class="btn_menu_character"></div>
                <div id="item" class="btn_menu_character"></div>
                <div id="infos" class="btn_menu_character"></div>
            </div>
            <div id="character_menu2" class="close"></div>
        </div>
    </div>
</div>