html, body {
	height: 100%;
}

.background {
	background: url('../../../../../bundles/zeldohapp/images/background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.btnLogin {
	position: absolute;
    right: 20px;
    top: 20px;
}

.logoContainer {
	text-align: center;
	padding-top: 35px;
	margin-bottom: 10px;
}

.logo {
	width: 250px;
}

#formConnection, #formRegister {
	width: 250px;
	margin: auto;
	margin-top: 110px;
	background: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
}

#formConnection .form-group label,
#formConnection .form-group label {
	display: none;
}

#formConnection input[type="submit"],
#formRegister input[type="submit"] {
	width: 100% !important;
}

.mapContent {
	text-align: center;
}

ul.map {
	margin: 0px;
	text-align: center;
	display: inline-block;
}

ul.coordinates{
    margin: 0px !important;
}

li.coordinate{
    display: inline-block;
    padding: 18px;
    float: left;
    background-size: 100% !important;
    background-repeat: no-repeat;
    min-width: 36px;
    min-height: 36px;
    overflow: hidden;
    position: relative;
}

li{
    list-style: none;
}

ul.coordinateLines {
    display: inline;
}

li.area{
    display: none;
}

li.showZone {
	display: inline-block !important;
}

ul.miniMap {
	display: inline-block;
	margin: 0px;
}

ul.miniMap:hover {
	cursor: pointer;
}

ul.miniMap li.minimap-areaLine {
    display: block;
    height: 16px;
}

ul.minimap-coordinateLines {
    display: inline;
}

ul.miniMap li.minimap-area {
	display: inline-block;
	position: relative;
	float: left;
}

ul.miniMap li.minimap-area .dark {
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #000000;
}

ul.miniMap li.minimap-area.visited .dark {
    background: transparent;
}

ul.miniMap li.minimap-area.currentZone .dark {
	background: #FFFFFF;
	opacity: 0.35;
}

ul.miniMap li.coordinate {
    padding: 0.5px;
    min-width: 0.5px;
    min-height: 0.5px;
}

ul{
    padding-left: 0px;
}

.player{
	padding: 0px !important;
}
.player img {
	position: absolute;
    width: 100%;
    height: auto;
}
.player img.down {
    top: -96px;
    left: 0px;
}
.player img.up {
    top: 0px;
    left: 0px;
}
.player img.left {
    bottom: 0px;
    left: 0px;
}
.player img.right {
    bottom: -96px;
    left: 0px;
}
.monster
{
    padding: 0px !important;
}
.monster img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

.land{
	background: url('../../../../../bundles/zeldohapp/images/marsh.png');
}
.road{
	background: url('../../../../../bundles/zeldohapp/images/road.jpg');
}
.grass{
	background: url('../../../../../bundles/zeldohapp/images/dark_grass.jpg');
}
.wall{
	background: url('../../../../../bundles/zeldohapp/images/wall.png');
}
.water{
	background: url('../../../../../bundles/zeldohapp/images/water.png');
}
.boss{
	background: url('../../../../../bundles/zeldohapp/images/boss-final.png');
}
.browncave{
	background: url('../../../../../bundles/zeldohapp/images/ss_browncave.png');
}
.door{
    background: url('../../../../../bundles/zeldohapp/images/door.png');
}
.key{
    background: url('../../../../../bundles/zeldohapp/images/key.png');
}