ul.map {
	margin: 0px;
}

ul.coordinates{
    margin: 0px !important;
}

li.coordinate{
    display: inline-block;
    padding: 5px;
    float: left;
    background-size: 100% !important;
    background-repeat: no-repeat;
}

li{
    list-style: none;
}

ul.coordinateLines {
    display: inline;
}

li.area{
    display: none;
}

li.showZone {
	display: inline-block !important;
}

ul{
    padding-left: 0px;
}